/*
 * Globals
 */

body {
  font-family: 'Comfortaa', cursive;
  font-weight: 300; 
  color: #555;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: 'Comfortaa', cursive;
  font-weight: 400; 
  font-weight: normal;
  color: #333;
}

h2{
  font-family: 'Comfortaa';
  font-size: 21px;
  line-height: 1.2em;
  font-weight: bold;
  color: #555;
}


/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}

/*Navbar */
.navbar-brand{
  color: #555 !important;
}

.navbar-brand{
  font-family: 'Lato';
  font-size: 2.3em;
  font-weight: 100;
  letter-spacing: -1px;
}

.navbar-default .navbar-brand{
  color: #555;
}

.navbar-default .navbar-nav>li>a{
  color: #95a5a6;
  font-weight: bold;
  border-bottom: 1px solid;
  text-transform: capitalize;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
  background-color: #bdc3c7;
  color: white;
}

/* Blog Page */
#blog-page{
  padding-top: 30px;
}


/* Main column and sidebar layout */

.blog-post-meta {
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 3px;
}

.btn-danger {
  color: #fff;
  margin-right: 30px;
  text-transform: capitalize;
  letter-spacing: 0;
  font-weight: bold;
}

.blog-main {
  font-size: 18px;
  line-height: 1.5;
}

.blog-main img {
  max-width: 100%;
  margin-bottom: 20px;
  border: solid 4px;
  box-shadow: 10px 11px 39px 1px rgba(0,0,0,0.57);
  border-radius: 18px 18px 18px 18px;
}

.blog-sidebar{
  padding-left: 45px;
}


/* Sidebar modules for boxing content */

#subscribe-box{
  font-family: 'Raleway';
  font-size: 14px;
  line-height: 1.5;
  padding-top: 9px;
}

#subscribe-box h4{
  padding-top: 10px;
}

#join-button{
  text-align: center;
}

.btn-warning{
  margin-top: 10px;
  margin-bottom: 10px;
}

.form-group{
  margin-top: 20px;
}

.sidebar-module {
  padding: 15px;
  margin: 0 -15px 15px;
}

.sidebar-module-inset {
  padding: 15px;
  background-color: #ecf0f1;
  border-radius: 30px;
  border: 5px dashed;
  border-color: #2c3e50;

}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}


/* Pagination */
.pager {
  margin-bottom: 40px;
  text-align: left;
}
.pager > li > a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
}


/* Blog posts */

.blog-post  {
  margin-bottom: 40px;
  border-bottom: 2px ridge;
  padding-bottom: 20px; 
} 

.blog-post-title {
  margin-bottom: 5px;
  font-size: 30px;
  text-transform: capitalize;
  font-weight: bold;
}

.blog-post-title a{
  color: #555;
}

.blog-post-title a:hover{
  color: #23527c;
}




/* Footer */

.blog-footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}